<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
</head>

<body>
    <footer th:fragment="footer" class="fixed-bottom text-center text-lg-start bg-light">

            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
              Calista Sekar Pamaja | 2206082064
              <a class="text-body" href="https://mdbootstrap.com/">APAP Medika</a>
            </div>
    </footer>
</body>
</html>
