.custom-bg-purple {
    background-color: #6f42c1;
  }

html {
  font-family: Helvetica !important;
}

body {
  font-family: Helvetica !important;
}

pre, code, kbd, samp {
  font-family: monospace;
}

input, button, select, optgroup, textarea {
  font-family: inherit;
  background-color: #6f42c1;
}

.btn-primary {
  background-color: #6f42c1;
}

.tooltip {
  font-family: Helvetica !important;
}

.popover {
  font-family: Helvetica !important;
}

.text-monospace {
  font-family: monospace;
  }