<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Update Room</title>
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>

    <div class="container">
        <div class="text-center my-4">
            <h2>Update Room</h2>
        </div>
        <div class="row justify-content-center">
            <div class="card" style="width: 60rem;">
                <div class="card-body">
                    <div>
                        <form th:action="@{/rooms/{roomId}/update(roomId=${roomDTO.id})}" th:object="${roomDTO}" method="POST">
                            <input class="form-control" type="hidden" th:field="*{id}" />

                            <!-- Room Name -->
                            <div class="row my-3">
                                <label for="room-name" class="col-sm-2 fw-bold col-form-label">Room Name</label>
                                <p class="col-sm-1 fw-bold col-form-label" style="width: 2%">:</p>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" id="room-name" th:field="*{name}" />
                                </div>
                            </div>

                            <!-- Max Capacity -->
                            <div class="row my-3">
                                <label for="max-capacity" class="col-sm-2 fw-bold col-form-label">Max Capacity</label>
                                <p class="col-sm-1 fw-bold col-form-label" style="width: 2%">:</p>
                                <div class="col-sm-9">
                                    <input class="form-control" type="number" id="max-capacity" th:field="*{maxCapacity}" />
                                </div>
                            </div>

                            <!-- Price Per Day -->
                            <div class="row my-3">
                                <label for="price-per-day" class="col-sm-2 fw-bold col-form-label">Price Per Day (IDR)</label>
                                <p class="col-sm-1 fw-bold col-form-label" style="width: 2%">:</p>
                                <div class="col-sm-9">
                                    <input class="form-control" type="number" id="price-per-day" th:field="*{pricePerDay}" />
                                </div>
                            </div>

                            <!-- Description -->
                            <div class="row my-3">
                                <label for="description" class="col-sm-2 fw-bold col-form-label">Description</label>
                                <p class="col-sm-1 fw-bold col-form-label" style="width: 2%">:</p>
                                <div class="col-sm-9">
                                    <textarea class="form-control" id="description" th:field="*{description}" rows="3"></textarea>
                                </div>
                            </div>

                            <!-- Error Handling -->
                            <div th:if="${#fields.hasErrors('*')}">
                                <div class="alert alert-danger">
                                    <ul>
                                        <li th:each="error : ${#fields.errors('*')}" th:text="${error}"></li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Submit and Cancel Buttons -->
                            <div class="text-center m-3">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <a class="btn btn-secondary" th:href="@{/rooms}">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-3Q2bNzLMEgBlx8wDyQJbOHztT/NVskD7ASUQHEuVFxK2tw1U4Biwl+F4emwnWusV"
        crossorigin="anonymous"></script>
</body>

</html>
