<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Patient</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>

    <div class="container mt-5">
        <h2>Patient not Found</h2>
        <p>Please insert this identity as new patient before making the reservation</p>
        <div>
            <a th:href="@{/patients/create}" class="btn btn-warning">Insert New Patient</a>
        </div>
           
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
