<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Patient</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    
    <div class="container mt-5">
        <div class="card m-4 p-4">
            <div class="card-body">
        <h2 class="text-center">Search for a Patient</h2>
        <form th:action="@{/patients/search}" method="post">
            <div class="mb-3">
                <label for="nik" class="form-label">Enter NIK</label>
                <input type="text" class="form-control" id="nik" name="nik" required>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>

        <div th:if="${patientNotFound}">
            <p class="text-danger mt-3">Patient not found. Please register a new patient below.</p>
            <a th:href="@{/patients/create}" class="btn btn-secondary">Create New Patient</a>
        </div>
    </div>
    </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
