<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Facilities</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>

<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
    <h2 th:text="'Update Facilities for ' + ${id}"></h2>
    <form th:action="@{/reservations/update-facilities}" th:object="${reservationDTO}" method="post">
        <input type="hidden" th:field="*{dateIn}" />
        <input type="hidden" th:field="*{dateOut}" />
        <input type="hidden" th:field="*{nurseId}" />
        <input type="hidden" th:field="*{room}" />
        <input type="hidden" th:field="*{roomId}" />
        <input type="hidden" th:field="*{patientId}" />
        <input type="hidden" th:field="*{id}" />
        <div class="form-group column my-3">
            <label for="facility" class="col-sm-2 fw-bold col-form-label">Facilities</label>
            <table class="table">
                <th class="d-flex justify-content-end">
                    <button class="btn btn-primary" type="submit" name="addRow" value="add">Add Row</button>
                </th>
                <tr th:each="facility, iterationStatus : *{facilities}">
                    <td>
                        <select th:field="*{facilities[__${iterationStatus.index}__].id}" class="form-control">
                            <option value="" disabled>Select a facility</option>
                            <div th:each="fasilitas : ${listFacilities}">
                                <option th:value="${fasilitas.id}"
                                        th:text="${fasilitas.name + ' (+Rp ' + fasilitas.fee + ')'}"></option>
                            </div>
                        </select>
                    </td>
                    <td>
                        <button th:value="${iterationStatus.index}" class="btn btn-danger" type="submit" name="deleteRow">Hapus</button>
                    </td>
                </tr>
            </table>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success">Save</button>
            <a th:href="@{/reservations}" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>
</div>
</div>
</body>
</html>
